<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Teachers details</h1>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
<form [formGroup]="teachersForm" class="container">
    <div class="row">
        <div class="col-md-6 mb-3">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="name" required>
                <mat-error *ngIf="teachersForm.get('name')!.hasError('required')">
                    Name is required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6 mb-3">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Age</mat-label>
                <input matInput type="text" formControlName="age" required>
                <mat-error *ngIf="teachersForm.get('age')!.hasError('required')">
                    Age is required
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Standard</mat-label>
                <input matInput type="text" formControlName="standard">
                <mat-error *ngIf="teachersForm.get('standard')!.hasError('required')">
                    Standard is required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6 mb-3">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Medium</mat-label>
                <input matInput type="text" formControlName="medium">
                <mat-error *ngIf="teachersForm.get('medium')!.hasError('required')">
                    Medium is required
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Location</mat-label>
                <input matInput type="text" formControlName="location">
                <mat-error *ngIf="teachersForm.get('location')!.hasError('required')">
                    Location is required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6 mb-3">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Address</mat-label>
                <textarea matInput formControlName="address"></textarea>
                <mat-error *ngIf="teachersForm.get('address')!.hasError('required')">
                    Address is required
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Mobile Number</mat-label>
                <input matInput type="text" formControlName="mobilenumber">
                <mat-error *ngIf="teachersForm.get('mobilenumber')!.hasError('required')">
                    Mobile number is required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6 mb-3">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Alternate Mobile</mat-label>
                <input matInput type="text" formControlName="altmobilenumber">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3" (click)="onSubmit()">
            <button mat-raised-button color="primary" type="submit" class="w-100">
                Submit
            </button>
        </div>
        <div class="col-md-6 mb-3">
            <button mat-raised-button color="warn" type="button" class="w-100">
                Reset
            </button>
        </div>
    </div>
</form>