
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Dashboard</h1>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<p-tabView>
    <p-tabPanel header="Student Profile">
       <app-children-profile></app-children-profile>
    </p-tabPanel>
    <p-tabPanel header="Student Academic">
      Student Academic
    </p-tabPanel>
    <p-tabPanel header="Teacher Profile">
      Teacher Profile
    </p-tabPanel>
  </p-tabView>
