<form [formGroup]="searchForm" class="advanced-search-form">
  <div class="row">
    <div class="col-md-3">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Standard</mat-label>
        <mat-select formControlName="standard">
          <mat-option *ngFor="let standard of standards" [value]="standard">
            {{ standard }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Location</mat-label>
        <mat-select formControlName="location">
          <mat-option *ngFor="let location of locations" [value]="location">
            {{ location }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Medium</mat-label>
        <mat-select formControlName="medium">
          <mat-option *ngFor="let medium of mediums" [value]="medium">
            {{ medium }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- <div class="col-md-3">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Teacher</mat-label>
        <mat-select formControlName="teacher">
          <mat-option *ngFor="let teacher of teachers" [value]="teacher">
            {{ teacher }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->
  </div> 

  <div class="row">
    <div class="col-md-3">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Attendance</mat-label>
        <mat-select formControlName="attendance">
          <mat-option *ngFor="let attendance of attendanceOptions" [value]="attendance">
            {{ attendance }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option *ngFor="let gender of genders" [value]="gender">
            {{ gender }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Year</mat-label>
        <mat-select formControlName="year">
          <mat-option *ngFor="let year of years" [value]="year">
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-3 d-flex align-items-end">
      <button mat-raised-button color="primary" class="w-100" (click)="onSearch()">Search</button>
    </div>
  </div>
</form>
