
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sunday-school-primary: mat.define-palette(mat.$indigo-palette);
$sunday-school-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$sunday-school-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$sunday-school-theme: mat.define-light-theme((
  color: (
    primary: $sunday-school-primary,
    accent: $sunday-school-accent,
    warn: $sunday-school-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($sunday-school-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background: #ADDFFF; }
body { 
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}
.wrapper {
  position: relative;
}
.wrapper, body, html {
  min-height: 100%;
}

.navbar-white {
  background-color: #fff;
  color: #1f2d3d;
}
.navbar-light {
  background-color: #f8f9fa;
}
.main-header {
  border-bottom: 1px solid #dee2e6;
  z-index: 1034;
}
.navbar-expand {
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.navbar {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem .5rem;
}

.layout-fixed .main-sidebar {
  bottom: 0;
  float: none;
  left: 0;
  position: fixed;
  top: 0;
}

body:not(.layout-fixed) .main-sidebar {
  height: inherit;
  min-height: 100%;
  position: absolute;
  top: 0;
}

.elevation-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22) !important;
}
[class*=sidebar-dark-] {
  background-color: #343a40;
}
.main-sidebar {
  height: 100vh;
  overflow-y: hidden;
  z-index: 1038;
}
.main-sidebar, .main-sidebar::before {
  transition: margin-left .3s ease-in-out, width .3s ease-in-out;
  width: 250px;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

.wrapper .content-wrapper {
  min-height: calc(100vh - calc(3.5rem + 1px) - calc(3.5rem + 1px));
}
.content-wrapper {
  height: 100%;
}
.content-wrapper {
  background-color: #f4f6f9;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, .5);
}

.fa, .far, .fas {
  font-family: "Font Awesome 5 Free";
}
.fa, .fab, .fad, .fal, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.navbar-expand .navbar-nav {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.main-header .navbar-nav .nav-item {
  margin: 0;
}
.navbar-expand .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}
.main-header .nav-link {
  height: 2.5rem;
  position: relative;
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
.nav-link {
  display: block;
  padding: .5rem 1rem;
}
[role=button] {
  cursor: pointer;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
@media (min-width: 768px) {
  body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
      transition: margin-left .3s ease-in-out;
      margin-left: 250px;
  }
}

@media (min-width: 992px) {
  .sidebar-mini .nav-sidebar, .sidebar-mini .nav-sidebar .nav-link, .sidebar-mini .nav-sidebar>.nav-header {
      white-space: nowrap;
  }
}

.nav-sidebar {
  position: relative;
}
.flex-column {
  -webkit-flex-direction: column !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}
.nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-sidebar>.nav-item {
  margin-bottom: 0;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
  background-color: #007bff;
  color: #fff;
}
[class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link.active {
  color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}
.nav-sidebar .nav-item>.nav-link {
  position: relative;
}
.sidebar-mini .main-sidebar .nav-link, .sidebar-mini-md .main-sidebar .nav-link, .sidebar-mini-xs .main-sidebar .nav-link {
  width: calc(250px - .5rem* 2);
  transition: width ease-in-out .3s;
}
@media (min-width: 992px) {
  .sidebar-mini .nav-sidebar, .sidebar-mini .nav-sidebar .nav-link, .sidebar-mini .nav-sidebar>.nav-header {
      white-space: nowrap;
  }
}
.nav-sidebar .nav-item>.nav-link {
  margin-bottom: .2rem;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #007bff;
}
[class*=sidebar-dark-] .sidebar a {
  color: #c2c7d0;
}
.nav-pills .nav-link {
  color: #6c757d;
}
.nav-pills .nav-link {
  border-radius: .25rem;
}
.nav-link {
  display: block;
  padding: .5rem 1rem;
}
nav-sidebar>.nav-item .nav-icon {
  margin-left: .05rem;
  font-size: 1.2rem;
  margin-right: .2rem;
  text-align: center;
  width: 1.6rem;
}
.nav-sidebar .nav-link p {
  display: inline;
  margin: 0;
  white-space: normal;
  padding-left: 5px;
}
.content-header {
  padding: 15px .5rem;
}
.content-header h1 {
  font-size: 1.3rem;
  margin: 0;
}
@media (min-width: 768px) {
  body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
      transition: margin-left .3s ease-in-out;
      margin-left: 250px;
  }
}
.main-footer {
  background-color: #fff;
  border-top: 1px solid #dee2e6;
  color: #869099;
  padding: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}
.navbar-custom-menu > .navbar-nav > li {
  position: relative;
}
@media (min-width: 768px) {
  .navbar-nav > li {
      float: left;
  }
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
  height: 175px;
  padding: 10px;
  text-align: center;
}
.skin-green-light .main-header li.user-header {
  background-color: #006D61;
}
.skin-green-light .main-header li.user-header {
  background-color: #00796B;
}
.skin-green-light .main-header li.user-header {
  background-color: #00a65a;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
  z-index: 5;
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}
.img-circle {
  border-radius: 50%;
}
.head-empno {
  font-size: 14px !important;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
  background-color: #f9f9f9;
  padding: 10px;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.layout-fixed .brand-link {
  width: 250px;
}
.brand-link {
  display: block;
  font-size: 1.25rem;
  line-height: 1.5;
  padding: .8125rem .5rem;
  transition: width .3s ease-in-out;
  white-space: nowrap;
}

[class*=sidebar-dark] .brand-link {
  border-bottom: 1px solid #4b545c;
  color: #fff;
  text-align: center;
}